#featured-release {
    display: flex;
    flex-direction: row;
    align-items: space-around;

    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius);
    text-align: center;
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

#featured-release-text {
    flex: 1;
    font-size: 1.5rem;
    padding: var(--spacing-md);
}

#progress-pies {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius);

    
}

#progress-pies ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    /* color: var(--accent); */
}

#progress-pies li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}